body {
  background-color: #333333;
  background-image: url('img/jace.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #FFFFFF;
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 12px;
}

.loader {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  width: 15px;
  height: 15px;
  float: left;
  margin: 0 5px;
  transform: scale(0);
  animation: fx 1600ms ease infinite 0ms;
  background-image: url('img/symbols/W.svg');
}
.dot:nth-child(2) {
  background-image: url('img/symbols/U.svg');
  animation: fx 1600ms ease infinite 200ms;
}
.dot:nth-child(3) {
  background-image: url('img/symbols/B.svg');
  animation: fx 1600ms ease infinite 400ms;
}
.dot:nth-child(4) {
  background-image: url('img/symbols/R.svg');
  animation: fx 1600ms ease infinite 600ms;
}
.dot:nth-child(5) {
  background-image: url('img/symbols/G.svg');
  animation: fx 1600ms ease infinite 800ms;
}
@-webkit-keyframes fx {
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fx {
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.card {
  display: inline-block;
  margin:5px;
}

.cardStack {
  margin-top: 15px;
}

// .cardStack{
//   height: 311px;
//   margin-bottom: -280px;
//   position: relative;
// }
//
// .cardStack:hover {
//   z-index: 9999;
// }
